.book {
  position: relative;
  padding-top: 0;
  padding-bottom: 90px;
}

.book-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

.book-header {
  position: relative;
}

.book-title {
  position: relative;
  margin-bottom: 10px;
  font-size: 2.8rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.book-txt {
  position: relative;
  display: block;
  font-size: 1.8rem;
  color: #a7a9a7;
  text-align: center;
}

.book-main {
  position: relative;
  padding: 25px 0;
}

.book-category {
  position: relative;
  display: flex;
  justify-content: center;
}

.book-list {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
}

.book-list li {
  position: relative;
}

.book-cate-bt {
  position: relative;
  display: block;
  padding: 0px 20px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 1.4rem;
  line-height: 42px;
  color: #111;
  cursor: pointer;
  border-radius: 44px;
}

.book-cate-bt-active {
  border: 1px solid transparent !important;
  background-color: #333 !important;
  font-weight: 700 !important;
  color: #fff !important;
}

.book-slide-wrap {
  position: relative;
  height: 400px;
  margin-top: 23px;
  background-color: yellowgreen;
}

.book-footer {
  position: relative;
}
